/* HeaderTransport / Default */
.header-tran-5d451590b627 {
  position: relative;
  width: 100%;
  background: #1c1c2aFF;
  border: 1px solid #ffffff14;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  row-gap: 8px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  padding-block-start: 12px;
  padding-block-end: 12px;
  z-index: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

/* header-row-progress */
.headerrow-5d594be7749d {
  position: relative;
  width: 100%;
  background: #1c1c2aFF;
  overflow: hidden;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  row-gap: 6px;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}

/* header-row-transport */
.headerrow-5d4f68010508 {
  position: relative;
  width: 100%;
  background: #181824FF;
  border: 1px solid #ffffff14;
  border-start-start-radius: 7px;
  border-start-end-radius: 7px;
  border-end-start-radius: 7px;
  border-end-end-radius: 7px;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  column-gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}

/* header-row-title */
.headerrow-5d45f1f235c2 {
  position: relative;
  width: 100%;
  background: #1c1c2aFF;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  column-gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}

/* time-row */
.timerow-5d5b2679cb48 {
  position: relative;
  width: 100%;
  background: #1c1c2aFF;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  column-gap: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}

/* progress-track */
.progresst-5d597bfabacb {
  position: relative;
  width: 336px;
  height: 6px;
  background: #1c1c2aFF;
  border: 1px solid #ffffff14;
  border-start-start-radius: 999px;
  border-start-end-radius: 999px;
  border-end-start-radius: 999px;
  border-end-end-radius: 999px;
  overflow: hidden;
  flex-shrink: 0;
}

/* time-remaining */
.timeremai-5d5b574c9622 {
  width: 32px;
  height: 13px;
  flex-shrink: 0;
}
.timeremai-5d5b574c9622 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.timeremai-5d5b574c9622 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.timeremai-5d5b574c9622 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.timeremai-5d5b574c9622 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 11px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

/* time-spacer */
.timespace-5d5c1a16b26f {
  position: relative;
  width: 3px;
  height: 19px;
  background: #1c1c2aFF;
  overflow: hidden;
  flex-shrink: 0;
}

/* time-elapsed */
.timeelaps-5d5c7e2530fa {
  width: 32px;
  height: 13px;
  flex-shrink: 0;
}
.timeelaps-5d5c7e2530fa .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.timeelaps-5d5c7e2530fa .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.timeelaps-5d5c7e2530fa .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.timeelaps-5d5c7e2530fa .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 11px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

/* progress-fill */
.progressf-5d5a0fbfc2aa {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100.21px;
  height: 6px;
  background: #d8d0eeFF;
  border-start-start-radius: 999px;
  border-start-end-radius: 999px;
  border-end-start-radius: 999px;
  border-end-end-radius: 999px;
  overflow: hidden;
}

/* volrate-group */
.volrategr-674724106f14 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  column-gap: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
}

/* spacer */
.spacer-5d5725171fa6 {
  position: relative;
  width: 5px;
  height: 22px;
  background: #181824FF;
  overflow: hidden;
  flex-shrink: 0;
}

/* btn-loop */
.btnloop-5d4fbcbdc95b {
  position: relative;
  width: 100%;
  background: #1c1c2aFF;
  border: 1px solid #ffffff14;
  border-start-start-radius: 999px;
  border-start-end-radius: 999px;
  border-end-start-radius: 999px;
  border-end-end-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  align-self: center;
}

/* btn-stop */
.btnstop-5d55fd4d7f07 {
  position: relative;
  width: 100%;
  background: #1c1c2aFF;
  border: 1px solid #ffffff14;
  border-start-start-radius: 999px;
  border-start-end-radius: 999px;
  border-end-start-radius: 999px;
  border-end-end-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  align-self: center;
}

/* btn-play */
.btnplay-5d54f720b486 {
  position: relative;
  width: 100%;
  background: #1c1c2aFF;
  border: 1px solid #ffffff14;
  border-start-start-radius: 999px;
  border-start-end-radius: 999px;
  border-end-start-radius: 999px;
  border-end-end-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  align-self: center;
}

/* rate-group */
.rategroup-5d578ccde31c {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  column-gap: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}

/* volume-group */
.volumegro-6745cc1efa78 {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  column-gap: 8px;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}

/* rate-slider */
.rateslide-5d58ab92a121 {
  position: relative;
  width: 110px;
  height: 6px;
  background: #2a2a40FF;
  border-start-start-radius: 999px;
  border-start-end-radius: 999px;
  border-end-start-radius: 999px;
  border-end-end-radius: 999px;
  overflow: hidden;
  flex-shrink: 0;
}

/* rate-label */
.ratelabel-5d57a7a08f21 {
  width: 24px;
  height: 14px;
  flex-shrink: 0;
}
.ratelabel-5d57a7a08f21 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.ratelabel-5d57a7a08f21 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.ratelabel-5d57a7a08f21 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.ratelabel-5d57a7a08f21 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 0.6);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 11px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

/* vol-slider */
.volslider-6745cc1efa79 {
  position: relative;
  width: 110px;
  height: 6px;
  background: #2a2a40FF;
  border-start-start-radius: 999px;
  border-start-end-radius: 999px;
  border-end-start-radius: 999px;
  border-end-end-radius: 999px;
  overflow: hidden;
  flex-shrink: 0;
}

/* vol-label */
.vollabel-6745cc1efa7a {
  width: 24px;
  height: 14px;
  flex-shrink: 0;
}
.vollabel-6745cc1efa7a .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.vollabel-6745cc1efa7a .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.vollabel-6745cc1efa7a .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.vollabel-6745cc1efa7a .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 0.6);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 11px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

/* icon */
.icon-5d50183b8677 {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  align-self: center;
}
.icon-5d50183b8677 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.icon-5d50183b8677 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.icon-5d50183b8677 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.icon-5d50183b8677 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 0.4);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

/* icon */
.icon-64ca45339d00 {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  align-self: center;
}
.icon-64ca45339d00 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: center;
}
.icon-64ca45339d00 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.icon-64ca45339d00 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.icon-64ca45339d00 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

/* icon */
.icon-5d54f720b487 {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  align-self: center;
}
.icon-5d54f720b487 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: center;
}
.icon-5d54f720b487 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.icon-5d54f720b487 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: center;
}
.icon-5d54f720b487 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 0.4);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 24px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

/* status-badge */
.statusbad-5d4ceb33085c {
  position: relative;
  width: 100%;
  background: #1c1c2aFF;
  border: 1px solid #ffffff14;
  border-start-start-radius: 999px;
  border-start-end-radius: 999px;
  border-end-start-radius: 999px;
  border-end-end-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: start;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 6px;
  padding-block-end: 6px;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}

/* title-stack */
.titlestac-5d4660f1986f {
  position: relative;
  width: 100%;
  background: #1c1c2aFF;
  overflow: hidden;
  display: flex;
  align-items: start;
  align-content: stretch;
  justify-content: start;
  row-gap: 2px;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
}

/* status-text */
.statustex-5d4e6a28b511 {
  width: 35px;
  height: 14px;
  flex-shrink: 0;
}
.statustex-5d4e6a28b511 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.statustex-5d4e6a28b511 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.statustex-5d4e6a28b511 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.statustex-5d4e6a28b511 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 11px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

/* header-subtitle */
.headersub-5d47f17108c6 {
  width: 143px;
  height: 18px;
  flex-shrink: 0;
}
.headersub-5d47f17108c6 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.headersub-5d47f17108c6 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.headersub-5d47f17108c6 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.headersub-5d47f17108c6 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(255, 255, 255, 0.6);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 11px;
  text-rendering: geometricPrecision;
  caret-color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
}

/* header-title */
.headertit-5d4698f8b419 {
  width: 143px;
  flex-shrink: 0;
}
.headertit-5d4698f8b419 .root-0 {
  
  
  display: flex;
  white-space: break-spaces;
  align-items: flex-start;
}
.headertit-5d4698f8b419 .root-0-paragraph-set-0 {
  display: inline-flex;
  flex-direction: column;
  justify-content: inherit;
  min-width: 100%;
  margin-right: 1px;
  vertical-align: top;
}
.headertit-5d4698f8b419 .root-0-paragraph-set-0-paragraph-0 {
  font-size: 0;
  line-height: 1.2;
  margin: 0;
  text-align: left;
}
.headertit-5d4698f8b419 .root-0-paragraph-set-0-paragraph-0-text-0 {
  color: rgba(216, 208, 238, 1);
  text-transform: none;
  
  line-break: auto;
  overflow-wrap: initial;
  white-space: break-spaces;
  font-size: 16px;
  text-rendering: geometricPrecision;
  caret-color: rgba(216, 208, 238, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
}